// fonts
$mainFont: 'Roboto', sans-serif;

// Color
$mainColor: #f69fac;
$subColor: #ffebec;
$bgColor: #1e90ff;

// font color
$fontColor: #6c6c6c;
$fontColor-sub: #a7a7a7;

// error color
$errorColor: #f66e82;
